{erl_opts, [debug_info]}.
{deps, [
  {proper, "1.1.1-beta"},
  {color, {git, "https://github.com/julianduque/erlang-color.git", {tag, "master"}}},
  {erlzk, ".*", {git, "git://github.com/huaban/erlzk.git", {tag, "v0.6.1"}}},
  {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client", {tag, "master"}}}
  %{riakc, "2.1.1"}
]}.

{overrides,
  [
    {override, rebar3_protobuffs_plugin, [{deps, [ {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]},

    {override, protobuffs, [{deps, []}]},

    {override, riak_pb, [{plugins, [{riak_pb_msgcodegen,
      {git, "git://github.com/tsloughter/riak_pb_msgcodegen",
        {branch, "master"}}},
      {rebar3_protobuffs_plugin,
        {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin",
          {tag, "0.1.1"}}}]},
      {provider_hooks, [{pre, [{compile, {protobuffs, compile}},
        {compile, riak_pb_msgcodegen}]}]}]}]
}.

{src_dirs, ["src"]}.
